{% extends 'base.html.twig' %}

{% block title %}Spotify: Nuevos lanzamientos en Colombia{% endblock %}

{% block body %}

<div id="wrapper">
    <div class="container">
        <section class="albums">
            {% if albums %}
                {% for album in albums %}
                    {% for item in album.items %}
                        <div class="album-card">
                            <div class="album-image">
                                <img src="{{ item.images[1].url }}" alt="{{ item.name }}" width="300" height="300">
                            </div>
                            <div class="album-info">
                                <h5>{{ item.name }}</h5>
                                {% if item.artists %}
                                    <div class="album-artists">
                                        {% for artist in item.artists  %}
                                            <div class="album-artists-link"><a href="#" onclick="openModal('{{ artist.id }}','{{ item.id}}')">{{ artist.name }}</a></div>
                                        {% endfor %}
                                    </div>    
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}            
                {% endfor %}    
            {% else  %}
                No hay nuevos lanzamientos
            {% endif %}            
        </section> 
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% endblock %}
